* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  min-width: 320px;
}
body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  resize: none;
  color: inherit;
}
button {
  cursor: pointer;
  background-color: transparent;
}
input:focus {
  outline: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0; 
}
input[type=number] {
    appearance: textfield;
}
a {
  color: inherit;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #bfbfbf;
  background-color: #0a0a0a;
  &._lock {
    overflow: hidden;
    touch-action: none;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class *= "__container"] {
  max-width: 73.125rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  gap: 0.9375em;
}

.ref {
  display: block;
}
.ref:hover {
  text-decoration: underline;
}

.chapters {
  text-align: left;
  overflow-y: auto;
}
.chapters > *:not(:last-child) {
  margin-bottom: 1em;
}
