.main__container {
  flex-wrap: wrap;
  margin: 1rem auto;
}
.main__container > * {
  flex: 0 1 222px;
}

.title {
  text-align: center;
  overflow: hidden;
}
.title > *:first-child {
  margin-bottom: 10px;
}
.title__img {
  height: 200px;
}
