.header {
  margin: 20px 0;
}
.header__container {
  position: relative;
  max-width: 110rem;
  height: 30vh;
  @media (max-width: 479px) {
    height: 25vh;
  }
}
.header__back {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 15px;
  font-size: 1.125rem;
  font-weight: 600;
}
.header__container img {
  width: 73.125rem;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  object-position: 0 20%;
  margin: 0 auto;
}

.main__cover {
  flex: 0 0 29%;
  overflow: hidden;
}
.main__cover > *:first-child {
  margin-bottom: 20px;
}
.main__cover img {
  height: 300px;
}
.main__title {
  font-size: 2.1rem;
  font-weight: 500;
  color: #fff;
}
.main__chapters {
  flex: 1 1 auto;
  height: 60vh;
  font-size: 1.25rem;
  border-radius: 20px;
  background-color: #1c1c1c;
  padding: 0.9375rem;
}
.main__chapters::-webkit-scrollbar {
  display: none;
}

@media (max-width: 767px) {
  .main__container {
    position: fixed;
    top: 20px;
    left: 0;
    width: calc(100% - 30px);
    height: calc(100% - 50px);
    text-align: center;
    flex-direction: column;
  }
  .main__cover {
    flex-basis: auto;
  }
  .main__cover img {
    height: 35vh;
  }
  .main__title {
    font-size: 1.8rem;
  }
}
